<h1>About Grog</h1>

<h3>Grog, the <em>Gr</em>oup Bl<em>og</em></h3>

GROG is a blogging platform for groups. <br/>
Register for an account and log in to:
<ul>
  <li>Create new groups</li>
  <li>Browse and join existing groups</li>
  <li>Write posts</li>
  <li>Comment on other people's posts</li>
  <li>Upload pictures</li>
</ul>


<p/>
  <a href="/landing">Return to Main page</a>

