<form action="/logout" method="post">
    <b> Welcome, {{ user.realName }}!</b>
    <small><i>API Key: {{user.apiKey}}</i></small>
    <span class="toright">
        <input type="submit" value="Logout" >
    </span>
</form>
<p/>
 <a href="/about" >About Grog...</a><br/>

{{#each groups}}
    <a href="/group/{{gnick}}">
        <b> {{ gname }} </b>
    </a>
    <p/>
    <hr/>
{{/each}}

<div class="fixed" >
    <a href="/allgroups" >Browse All Groups...</a><p/><p/>
    <a href="/newgroup" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        Create New Group
    </a>
</div>
