 <a href="/about" >About Grog...</a>
 <div class="table-responsive">
  <form method="post" action="/login">
    <table class="table table-condensed">
      <tbody>
       
       <tr>
         <th>User: </th>
         <td><input type="text" name="user" required ></td>
       </tr>
       <tr>
         <th>Password: </th>
         <td><input type="password" name="pwd" required ></td>
       </tr>
       
       </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Log In" 
              class="btn btn-success">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
  <a href="/newuser">Don't have an account? Click here to register.</a>
</div>
