<h1> Edit New Post</h1>

  <form method="post" action="/newpost">
    <input type="hidden" name="gnick" value="{{gnick}}" >
    Title:<input type="text" name="title"><br/>
    <textarea name="bodytext" rows="10" cols="50"></textarea>
    <input type="submit" value="Publish"  class="btn btn-success">
  </form>
  <a href="/landing">Return to main page</a>
</div>
